#wrap2 {
    border: aqua solid 5px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    height: 200px;
    background: coral;
}

#wrap {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom: aqua solid 5px;
    border-left: aqua solid 5px;
    border-right: aqua solid 5px;
    display: flex;
    background: silver;
    height: 300px;
    justify-content: space-evenly;
    align-items: flex-end;

}

.a {
    border-right: aqua solid 5px;
    background: cornflowerblue;
    width: 100px;
    height: 100px;
}

.b {
    background: cornflowerblue;
    width: 100px;
    height: 100px;
}
