.a, .b, .c, .d, .e, .f {
    font-size: 36px;
    box-shadow: #464646 25px 25px 0px -5px;
    margin: 100px;
    box-sizing: border-box;
    background: #ffaa00;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b {
    box-shadow: #464646 25px 25px 10px -5px;
}

.c {
    box-shadow: #464646 30px 30px 10px 10px;;
}

.d {
    box-shadow: grey 30px 30px 10px 10px;
}

.e {
    border-radius: 10px;
    box-shadow: #464646 30px 30px 10px 10px;

}

.f {
    border-radius: 10px;
    box-shadow: grey 30px 30px 10px 10px;
}
